/** GENERAL STYLES **/
// body {
//   font-size: var(--default-font-size, 16px);
//   font-weight: var(--body-font-weight, normal);
// }

/** TITLE BAR **/
.titlebar {
  background-color: var(--background-primary-alt);
}

.titlebar-text {
  color: var(--text-accent);
}

/** STATUS BAR **/
.status-bar {
  // max-height: unset;
  padding-bottom: 2px;
  font-size: 12px;
  color: var(--text-muted);
  background-color: var(--background-primary-alt);
  border-color: var(--background-primary-alt);
}

/** NAVIGATION / SIDE-DOCK **/

.nav-folder-collapse-indicator {
  color: var(--text-accent);
}

.nav-file.is-active > .nav-file-title,
.nav-file.is-active > .nav-folder-title,
.nav-file.is-active > .nav-folder-collapse-indicator,
.nav-folder.is-active > .nav-file-title,
.nav-folder.is-active > .nav-folder-title,
.nav-folder.is-active > .nav-folder-collapse-indicator {
  color: var(--text-accent);
}

/** Left side menu -- collapsed **/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-primary-alt);
}
/** Left side menu border **/
.workspace-ribbon.mod-left.is-collapsed,
.workspace-ribbon.mod-right.is-collapsed {
  border-color: var(--background-primary-alt);
}

/** Navigation tabs **/
.workspace-tab-header.is-active {
  color: var(--text-accent);
  opacity: 1;
}

/** Folder List main title **/
.nav-folder.mod-root > .nav-file-title,
.nav-folder.mod-root > .nav-folder-title {
  color: var(--text-accent);
}

/** Folder Lists **/
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  color: var(--text-accent);
}

/** Folder list active arrow **/
body:not(.is-grabbing) .nav-file-title:hover .nav-folder-collapse-indicator,
body:not(.is-grabbing) .nav-folder-title:hover .nav-folder-collapse-indicator {
  color: var(--text-accent);
}

/** Header Title **/
.view-header-title {
  font-size: 14px;
}

/** View Header title **/
.workspace-leaf.mod-active .view-header-title {
  color: var(--text-accent);
}

/** Little tag styles (at links) **/
.pane-list-item:hover .pane-list-item-ending-flair {
  color: var(--text-accent);
  background-color: var(--background-secondary);
}

/** SETTINGS STYLES **/

.workspace-drop-overlay {
  background-color: var(--background-primary-alt);
}

/* except list markers */
span.cm-formatting-list,
/*code block backticks */ span.cm-formatting-code-block.cm-hmd-codeblock,
/* optionally header hashes */ span.cm-formatting-header {
  display: inline !important;
}

.theme-dark .notice {
  color: var(--text-accent);
  background-color: var(--background-primary-alt);
}