/*============bigger link popup preview  ================*/
.popover.hover-popover {
  width: 500px;     /* was 400 */
  min-height: 100px;
  max-height: 800px;    /* was 300 */
  transform: scale(0.8); /* makes the content smaller */
}
