.cm-s-obsidian span.cm-hashtag {
  padding-bottom: 1px;
  font-family: var(--font-monospace);
  color: var(--tag-text);
  text-decoration: unset;
}

// Left Side
span.cm-hashtag-begin {
  padding-left: 8px;
  border-top: 1px solid var(--tag-border);
  border-bottom: 1px solid var(--tag-border);
  border-left: 1px solid var(--tag-border);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

// Right Side
span.cm-hashtag-end {
  padding-right: 10px;
  border-top: 1px solid var(--tag-border);
  border-right: 1px solid var(--tag-border);
  border-bottom: 1px solid var(--tag-border);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

// Tags
.tag {
  background-color: var(--text-accent);
  border: none;
  color: white !important;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0px 10px 3px 8px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: 14px;
}

.tag:hover {
  color: white;
  background-color: var(--text-accent-hover);
}

.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}

.tag[href^="#important"] {
  background-color: red;
}

.tag[href^="#complete"] {
  background-color: green;
}

.tag[href^="#inprogress"] {
  background-color: orange;
}
