// Themes
@use "themes/dark";

// Modules
@use "modules/layout";
@use "modules/headings";
@use "modules/text";
@use "modules/cursor";
@use "modules/tags";
@use "modules/settings";
@use "modules/icons";
@use "modules/fixes";
@use "modules/button";
@use "modules/selected-active";
@use "modules/blockquote";
@use "modules/code";
@use "modules/checkboxes";

// Font
:root {
  --font-monospace: "Jetbrains Mono", "Source Code Pro", monospace;
  --default-font: "Lato", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-editor-size: 1.0em;
}
