@use '../functions';

// Gray
$gray-1: #131421;
$gray-2: #191a2a;
$gray-3: #1e2030;
$gray-4: #222436;
$gray-5: #2f334d;
$gray-6: #444a73;
$gray-7: #828bb8;
$gray-8: #a9b8e8;
$gray-9: #b4c2f0;
$gray-10: #c8d3f5;
$desaturated-gray: #7f85a3;

// Dark
$dark0: #010e1a;
$dark1: #031525;
$dark2: #0b2942;
$dark3: #1d4667;
$dark4: #000C1D; // activebar bg
$dark5: #102a44; // activebar/sidebar border
$dark6: #001122; // sidebar bg
$dark7: #8BADC1; // sidebar fg

// Light
$light0: #637777;
$light1: #d6deeb;
$light2: #cbdbe5;

// Accents
$red: #ff6363;
$orange: #f78c6c;
$yellow: #ecc48d;
$green: #addb67;
$teal: #7fdbca;
$blue: #82aaff;
$purple: #c792ea;
$lightblue: #0fb6d6;